# Ignore all generated evaluation results
testdata_generator/output/*
!testdata_generator/output/testcases.json
!testdata_generator/output/stichprobe.json
!testdata_generator/output/auto_pruefung.csv
!testdata_generator/output/stichprobe.csv

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore env file
**/.env
